	<footer>
		<div id="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="single-footer">
							<h3>{{ 'Footer.Divinector' | translate }}</h3>
							<p>{{ 'Footer.Place' | translate }}</p>
						</div>
						<ul class="footer-social list-inline">
								<li class="list-inline-item"><a href="https://www.facebook.com/Sparkles_Perfect_Fashion_Destination-597561527352697/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-amazon"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
							</ul>
					</div> 
					<div class="col-md-3 col-sm-6">
							<div class="single-footer">
								<h3>{{ 'Footer.Owner' | translate }}</h3>
								
								<ul class="link-area">
									<li><a href="#"><i class="fa fa-male" aria-hidden="true"></i>{{ 'Footer.OwnerName' | translate }}</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>{{ 'Footer.OwnerNumber' | translate }}</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>{{ 'Footer.OwnerEmail' | translate }}</a></li>
									<li><a href="#"><i class="fa fa-map"></i>{{ 'Footer.OwnerAddress' | translate }}</a></li>
								</ul>
							</div>
						</div>
	
					<div class="col-md-3 col-sm-6">
						<div class="single-footer">
							<h3>{{ 'Footer.Develop' | translate }}</h3>
							
							<ul class="link-area">
								<li><a href="#"><i class="fa fa-male" aria-hidden="true"></i>{{ 'Footer.DevelopName' | translate }}</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>{{ 'Footer.DevelopNumber' | translate }}</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>{{ 'Footer.DevelopEmail' | translate }}</a></li>
								<li><a href="#"><i class="fa fa-map"></i>{{ 'Footer.DevelopAddress' | translate }}</a></li>
								<li>
									<ul class="footer-social list-inline">
										<li class="list-inline-item"><a href="https://www.facebook.com/abhay.sahu.528"><i class="fa fa-facebook"></i></a></li>
										<li class="list-inline-item"><a href="https://www.linkedin.com/in/abhay-sahu-4ab3ba183/"><i class="fa fa-linkedin"></i></a></li>
										<li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
										<li class="list-inline-item"><a href="https://github.com/abhaysahu"><i class="fa fa-github"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>

						<div class="col-md-3 col-sm-6">
							<div class="single-footer">
								<h3>{{ 'Footer.Photo' | translate }}</h3>
								<ul class="link-area widget list-inline">
									<li>
										<a href="#"><img src="../../assets/images/1.jpg" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="../../assets/images/2.jpg" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="../../assets/images/3.jpg" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="../../assets/images/4.jpg" alt=""></a>
									</li>
								</ul>
							</div>
						</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="copyright-area text-center">
							<p>&copy; 2020, All Right Reserved, copyright</p>
					</div>
				</div>
			</div>
</div>
		</div>
	</footer>
