
<div class="container">
  <br>

<h1>Admin Manages Orders</h1>

<p>
  <input
    #query 
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p>


<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
>
<!-- 
<data-table-column
    [property]="'$key'"
    [header]="'OrderId'"
    [sortable]="true"
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    {{ item.$key }}
  </ng-template>
  </data-table-column> -->
 
  <data-table-column
    [property]="'name'"
    [header]="'Name'"
    [sortable]="true"
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    {{item.shipping.name}}
  </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'date'"
    [header]="'Date'"
    [sortable]="true"
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    {{item.dataPlaced | date}}
  </ng-template>
  </data-table-column> 
 
  <data-table-column
    [property]="'$key'"
    [header]="'Bill'"
  >
  <ng-template #dataTableCell let-item="item">
    <a [routerLink]="['/dashboards/view/orders/', item.$key]">Genrate</a>
  </ng-template>
</data-table-column>

<data-table-column
    [property]="'$key'"
    [header]="'Orders'"
  >
  <ng-template #dataTableCell let-item="item">
    <!-- <a [routerLink]="['/dashboards/admin/orders/admin/view/orders/details/', item.$key]">View</a> -->
    <a [routerLink]="['/dashboards/admin/view/orders/details/', item.$key]">View</a>

  </ng-template>
</data-table-column>
</data-table>
</div>


