.img-jmbo{

    background-image:linear-gradient(rgba(236, 216, 228, 0.7),rgba(203, 231, 229, 0.7)), url('../../assets/jumbotorn.jpg');
    background-size: cover;
    min-height: 500px;

}

.text{
    color: #860CD8;
    margin-left: 200px;
    margin-top: -30px;
}