<nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top" *ngIf='!showNav'>
  <div class="container">
      <a class="navbar-brand" routerLink="/products">
        <img src="assets/images/logo.png" alt="Angular Project" />
        <!-- <i class="fa fa-leaf" aria-hidden="true"></i> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              <i class="fa fa-shopping-cart" style="font-size: 16px" aria-hidden="true"></i>
              <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
                {{ cart.totalItemsCount }} 
              </span>
            </a>
          </li> 
        </ul>

        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" #searchInput type="text"   
            [placeholder]="PlaceHolderText"
            (keyup.enter)="OnSearch(searchInput.value)">

          </form> -->

          <ul class="nav navbar-nav">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'Sel_lang' | translate }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="changeLanguage('en')">{{ 'Languages.English' | translate }}</a>
              <a class="dropdown-item" (click)="changeLanguage('hi')">{{ 'Languages.Hindi' | translate }}</a>
            </div>
          </li>

        </ul>


        
        <ul class="nav navbar-nav">
            <ng-template #anonymousUser>
              <li *ngIf="!(user$ | async)" class="nav-item">
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Stock</button> -->

                  <a class="nav-link" data-toggle="modal" data-target="#exampleModal1">Login</a>
              </li>
            </ng-template>
            <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ appUser.name }}
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" routerLink="/my/orders">{{ 'MyOrdersLink' | translate }}</a>
                <a class="dropdown-item" routerLink="/edit/profile">Edit Profile</a>
            
                <ng-container *ngIf="appUser.isAdmin">
                    <a class="dropdown-item" routerLink="/dashboards">Dashboard</a>  
              
                </ng-container>
                <a class="dropdown-item" (click)="logout()">{{ 'LogOutLink' | translate }}</a>
              </div>
            </li>
          </ul>
      </div>
  </div>
</nav>




<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Login With Anyone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body">

        <div class="items-center">
          <button data-dismiss="modal" (click)="login()" type="button" class="btn btn-primary" class="text"><i class="fa fa-google" style="font-size:25px;color:red"></i>Login with Google</button>
          <br>
          <br>
          <button data-dismiss="modal" (click)="loginFaceBook()" type="button" class="btn btn-primary" class="text" style="padding-left: 10px;"><i class="fa fa-facebook" style="font-size:25px;color:red"></i>Login with FaceBook</button>
        
          <!-- <a routerLink="/login/phone/number" class="btn btn-primary">Login with Phone Number</a> -->
        </div>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">okk</button>
      </div>
    </div>
  </div>
</div>


