<div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboards">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/dashboards/admin/orders">Order</a></li>
      <li class="breadcrumb-item active" aria-current="page">Order Detailes</li>
    </ol>
  </nav>

<h1>
  {{ 'Shopping.Order' | translate }}
</h1>

<div *ngIf="order$ | async as order">

<table class="table">  
    <thead>
      <tr>
        <th></th>
        <th>{{ 'Shopping.Product' | translate }}</th>
        <th class="text-center">{{ 'Shopping.Quantity' | translate }}</th>
        <th class="text-center" >{{ 'Shopping.Price' | translate }}</th>
        <th class="text-center" >{{ 'Shopping.Total' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items">
        <td *ngIf="item.product.price!=0">
          <div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="thumbnail"></div>
        </td>    
        <td *ngIf="item.product.price!=0">
          {{ item.product.title }}
        </td>
        <td class="text-center" *ngIf="item.product.price!=0">
          {{item.quantity}}
        </td>
        <td class="text-center" *ngIf="item.product.price!=0">
            {{ item.product.price | currency: "&#8377;" : true }}
          </td>
        <td class="text-center" *ngIf="item.product.price!=0">
          {{ item.totalPrice | currency: "&#8377;" : true }}
        </td>
      </tr>  
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th class="text-center">{{ this.SumOfQuantity }}</th>
        <th></th>
        <th class="text-center">{{ this.SumOfPrice | currency: "&#8377;": true }}</th>
      </tr>
    </tfoot>
  </table>
 
  <div class="line">
    
      <div class="tops">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Manual Product</button>
      </div>

      <div class="tops">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg1">Order Status</button>
      </div>

      <!-- <div class="tops">
        <a  [routerLink]="['/order/status/', order.$key]" class="btn btn-primary">Order Status</a> 
      </div> -->

  </div>

</div>

</div>

    






<div class="modal fade bd-example-modal-lg" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Manual Added Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="order$ | async as order">



        <table class="table" *ngIf="appUser; else anonymousUser">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Weight</th>
              <th scope="col">Price</th>
              <th scope="col" *ngIf="appUser.isAdmin">Edit</th>
            </tr>
          </thead> 
          <tbody>
            <tr *ngFor="let item of order.items; let i = index">
              <th *ngIf="!item.product.code">{{i}}</th>
              <td *ngIf="!item.product.code">{{item.product.title}}</td>
              <td *ngIf="!item.product.code">{{item.product.weight}}</td>
              <td *ngIf="!item.product.code">{{item.product.price}}</td>
              <td *ngIf="!item.product.code">

                <div>    
                  <ng-container *ngIf="appUser.isAdmin">
                    <div>
                      <button type="button" class="btn btn-primary" data-id="code" data-toggle="modal" data-target=".bd-example-modal-lg2">Edit</button>
                    </div>                  
                  </ng-container>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






<div class="modal fade bd-example-modal-lg1" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="myLargeModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Order Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-order-status></app-order-status>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade bd-example-modal-lg2" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Rate Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="row">
          <div class="col-md-8">
            <form #f="ngForm" (ngSubmit)="save(f.value)">
        
        
                <div class="row show-hide-message">
                    <div [ngClass]="messageClass">
                      {{ message }}
                    </div>
                  </div>
        
        
                  <div class="form-group">
                    <label for="code">Product number</label>
                    <input #code="ngModel" [(ngModel)]="product.code" name="code" id="code" type="text" class="form-control" required placeholder="Product Code">
                    <div class="alert alert-danger" *ngIf="code.touched && code.invalid">
                      Product Code is required.
                    </div>
                  </div>
                  
                    
                  <div class="form-group"> 
                      <label for="price">Price</label>
                      <div class="input-group-prepend">
                        <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" min="-100000" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="35.00" required [min]="0">
                      </div> 
                      <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                        <div *ngIf="price.errors.required">Price is required.</div>
                      </div>  
                    </div>
                    <button [disabled]="!f.valid" class="btn btn-primary">Save</button>
              </form>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>