.text{ 
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: -500px;
    font-size: 15px;
    width: 200px;
    height:50px; 
    font-family: cursive;
    font-weight: 1000;
    background-color: black;
    color:white;
    border: 2px red solid;
    margin-left: -31%;
}
.text1{
        position:absolute;
        font-family: cursive;
        font-weight: 500;
        margin-left:380px;
        margin-top: -350px;
       font-size: 2.5em;
       box-shadow: 2px 1px 4px 3px black;
        background-color:rgb(160, 156, 184);
        opacity: 0.7;
        color: black;
     
}

img{
    border-radius: 50px;
    margin-left: 350px;
    opacity: 1;
    margin-top:-20px;
    border:5px red solid;
    z-index: -1;
}
