<div class="toping"> 
<h1>{{ 'Shopping.ShoppingCart' | translate }} </h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    {{ 'Shopping.Detailes1' | translate }} {{ cart.totalItemsCount }} {{ 'Shopping.Detailes2' | translate }}
    <button
    *ngIf="cart.items.length"
    (click)="clearCart()"
    class="btn btn-light btn-sm">{{ 'Shopping.ClearButton' | translate }}
  </button>
  </p> 
  <table class="table"> 
    <thead>
      <tr>
        <th></th>
        <th>{{ 'Shopping.Product' | translate }}</th>
        <th class="text-center" style="width: 230px">{{ 'Shopping.Quantity' | translate }}</th>
        <th class="text-right" style="width: 200px">{{ 'Shopping.Price' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
        </td>    
        <td>
            <div *ngIf="show; else elseBlock">{{ item.title }}</div>
            <ng-template #elseBlock>{{ item.titleH }}</ng-template>
        </td>
        <td>
          <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="text-right">
            <div *ngIf="!item.offer; else elseBlock">
                <p class="card-text">{{ (item.price) * item.quantity | currency: "&#8377;": true}} 
                </p>
            </div>
                    <ng-template #elseBlock>
                          <p> {{ item.totalPrice }}</p>   
                    </ng-template>
        </td>
      </tr>  
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{ cart.totalPrice | currency: "&#8377;" :true }}</th>
      </tr>
    </tfoot>
  </table>
  <a
    *ngIf="cart.items.length"
    routerLink="/check-out" 
    class="btn btn-primary">{{ 'Shopping.CheckOut' | translate }}</a>

    <div class="top">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Product</button>
    </div>
</div>
</div>








<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Stock Quantity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body">





        <div class="row">
          <div class="col-md-8">
            <form #f="ngForm" (ngSubmit)="save(f.value)">
        
        
                <div class="row show-hide-message">
                    <div [ngClass]="messageClass">
                      {{ message }}
                    </div>
                  </div>
        
        
                  <div class="form-group">
                    <label for="code">Product Code</label>
                    <input #code="ngModel" [(ngModel)]="product.code" name="code" id="code" type="text" class="form-control" required placeholder="Product Code">
                    <div class="alert alert-danger" *ngIf="code.touched && code.invalid">
                      Product Code is required.
                    </div>
                  </div>
                  
                    
                  <div class="form-group"> 
                      <label for="stock">Stock</label>
                      <div class="input-group-prepend">
                        <input #stock="ngModel" [(ngModel)]="product.stock" name="stock" id="stock" type="number" min="-100000" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="35.00" required [min]="0">
                      </div> 
                      <div class="alert alert-danger" *ngIf="stock.touched && stock.invalid">
                        <div *ngIf="stock.errors.required">Price is required.</div>
                      </div>  
                    </div>
                    <button class="btn btn-primary">Save</button>
              </form>
          </div>
        </div>
        
        





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">okk</button>
      </div>
    </div>
  </div>
</div>

