<div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboards">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Product</li>
    </ol>
  </nav>

<p>
    <a  routerLink="/dashboards/admin/products/new" class="btn btn-primary abhay">{{ 'Product.Add-Product' | translate }}</a>
</p>
<p>
  <input
    #query 
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="{{ 'Product.Admin-Search' | translate }}">
</p>


<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
>


  <data-table-column
  [property]="'code'"
  [header]="'Code'"
  [sortable]="true"
  [resizable]="true"
  >
  </data-table-column>

 
  <data-table-column
    [property]="'title'"
    [header]="'Title'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>



  <data-table-column 
    [property]="'price'" 
    [header]="'Price'"
    [sortable]="true" 
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    {{ item.price | currency:"&#8377;": true }}
  </ng-template>
  </data-table-column> 


  <data-table-column 
    [property]="'flat'" 
    [header]="'Offer'"
    [sortable]="true" 
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    {{ item.offer }} %
  </ng-template>
  </data-table-column> 
 

  <data-table-column 
    [property]="'stock'" 
    [header]="'Net Price'"
    [sortable]="true" 
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    {{ (item.price - (item.price * item.offer)/100) | currency:"&#8377;": true}}
  </ng-template>
  </data-table-column> 
 
  <data-table-column
    [property]="'$key'"
  >
  <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/dashboards/admin/products/', item.$key]">Edit</a>
  </ng-template>
</data-table-column>
</data-table>
</div>