<div class="container">
  <div class="toping"> 
    <h1>{{ 'Shopping.ShoppingCart' | translate }} </h1>
    <div class="row col-10" *ngIf="cart$ | async as cart">
      <p>
        {{ 'Shopping.Detailes1' | translate }} {{ cart.totalItemsCount }} {{ 'Shopping.Detailes2' | translate }}
        <button
        *ngIf="cart.items.length"
        (click)="clearCart()"
        class="btn btn-light btn-sm">{{ 'Shopping.ClearButton' | translate }}
      </button>
      </p> 
      <table class="table"> 
        <thead>
          <tr>
            <th></th>
            <th>{{ 'Shopping.Product' | translate }}</th>
            <th class="text-center" style="width: 230px">{{ 'Shopping.Quantity' | translate }}</th>
            <th class="text-right" style="width: 200px">{{ 'Shopping.Price' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td *ngIf="item.code">
              <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
            </td>    
            <td *ngIf="item.code">
                <div *ngIf="show; else elseBlock">{{ item.title }}</div>
                <ng-template #elseBlock>{{ item.titleH }}</ng-template>
            </td>
            <td *ngIf="item.code">
              <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
            </td>
            <td class="text-right" *ngIf="item.code">
                <div *ngIf="!item.offer; else elseBlock">
                    <p class="card-text">{{ (item.price) * item.quantity | currency: "&#8377;": true}} 
                    </p>
                </div>
                        <ng-template #elseBlock>
                              <p> {{ item.totalPrice }}</p>   
                        </ng-template>
            </td>
          </tr>  
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">{{ cart.totalPrice | currency: "&#8377;" :true }}</th>
          </tr>
        </tfoot>
      </table>
      <div class="line"> 
      <a class="top"
        *ngIf="cart.items.length"
        routerLink="/shopping-cart/check-out" 
        class="btn btn-primary">{{ 'Shopping.CheckOut' | translate }}</a>

        <div class="top">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Product</button>
        </div>

        <div class="top">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Manual Product</button>
        </div>

      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Stock Quantity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-8">
            <form #f="ngForm" (ngSubmit)="save(f.value)">
        
        
                <div class="row show-hide-message">
                    <div [ngClass]="messageClass">
                      {{ message }}
                    </div>
                  </div>
        
        
                  <div class="form-group">
                    <label for="title">Product Name</label>
                    <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required placeholder="Product Code">
                    <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                      Product Name is required
                    </div>
                  </div>
                  
                    
                  <div class="form-group"> 
                      <label for="weight">Weight</label>
                      <div class="input-group-prepend">
                        <input #weight="ngModel" [(ngModel)]="product.weight" name="weight" id="weight" class="form-control" placeholder="500 gm or 2 kg">
                      </div> 
                      <div class="alert alert-danger" *ngIf="weight.touched && weight.invalid">
                        Weight is required.
                      </div>  
                    </div>
                    <button class="btn btn-primary">Save</button>
              </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">okk</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Manual Added Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="cart$ | async as cart">



        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Weight</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart.items; let i = index">
              <th *ngIf="!item.code">{{i+1}}</th>
              <td *ngIf="!item.code">{{item.title}}</td>
              <td *ngIf="!item.code">{{item.weight}}</td>
              <td *ngIf="!item.code"><button type="button" (click)="delete(item.keys)" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>


        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





