  <div class="top">
  <div class="slideshow" >
          <particles  [params]="myParams" [style]="myStyle"></particles>
          <h1 class="text">THE SPARKLES</h1>
          <a routerLink="/products" data-toggle="tooltip" data-placement="right" title="Click to Shop" >
        <div class="content">
          <div class="content-carrousel"> 
            <figure class="shodw"><img src="../../assets/1.jpg"></figure>
            <figure class="shodw"><img src="../../assets/2.jpg"></figure>
            <figure class="shodw"><img src="../../assets/3.jpg"></figure>
            <figure class="shodw"><img src="../../assets/4.jpg"></figure>
            <figure class="shodw"><img src="../../assets/5.jpg"></figure>
            <figure class="shodw"><img src="../../assets/6.jpg"></figure>
            <figure class="shodw"><img src="../../assets/7.jpg"></figure>
            <figure class="shodw"><img src="../../assets/8.jpg"></figure>
            <figure class="shodw"><img src="../../assets/9.jpg"></figure>
          </div>
        </div> 
        </a>
      </div>

    </div>
  