
<h1>
  {{ 'Shopping.Order' | translate }}
</h1>

<div *ngIf="order$ | async as order">

<table class="table"> 
    <thead>
      <tr>
        <th></th>
        <th>{{ 'Shopping.Product' | translate }}</th>
        <th class="text-center">{{ 'Shopping.Quantity' | translate }}</th>
        <th class="text-center" >{{ 'Shopping.Price' | translate }}</th>
        <th class="text-center" >{{ 'Shopping.Total' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="thumbnail"></div>
        </td>    
        <td>
          {{ item.product.title }}
        </td>
        <td class="text-center">
          {{item.quantity}}
        </td>
        <td class="text-center">
            {{ item.product.price | currency: "&#8377;" : true }}
          </td>
        <td class="text-center">
          {{ item.totalPrice | currency: "&#8377;" : true }}
        </td>
      </tr>  
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th class="text-center">{{ this.SumOfQuantity }}</th>
        <th></th>
        <th class="text-center">{{ this.SumOfPrice | currency: "&#8377;": true }}</th>
      </tr>
    </tfoot>
  </table>
 
  <div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">{{ 'Shopping.Size' | translate }}</button>
      <a class="abhay" [routerLink]="['/order/status/', order.$key]" class="btn btn-primary">Order Status</a>
      <br>
  </div>

</div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ 'Shopping.DesProduct' | translate }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> 
          </div>
          <div class="modal-body" *ngIf="order$ | async as order">
            <pre>{{order.shipping.description}}</pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">okk</button>
          </div>
        </div>
      </div>
    </div>
  