
.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}

.top {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 10px;
}

.tops {
    padding-left: 20px;
}

.abhay {
    padding-left: 10px;
    padding-right: 20px;
}

.line {
    display:inline-flex;

}